.container {
    background-color: rgba(255, 255, 255, .15);
}

.container {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.glowText {
    color: #d25b5b;
    font-family: "Courier New";
    font-size: 5rem;
    margin: 0;
    text-shadow: 0 0 10px #d25b5b
}

.svgButtonSelected {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    fill: #FFFFFF !important;
    stroke: #FFFFFF !important;
    color: #FFFFFF !important;
}

.fanSelected {
    margin-left: -10px;
    margin-right: -10px;
}

.svgButtonUnSelected {
    fill: #6B768A !important;
    stroke: #6B768A !important;
    color: #6B768A !important;

}

.fan {
    flex-grow: 1;
    border-top: solid 1px #3c4554;
    border-bottom: solid 1px #3c4554;
    display: flex;
    align-items: center;
    justify-content: center;
}
